extends layout

block content
	.inner
		h3= title
		.img__container
			each photo in photos
				.koolduct__img--container
					img.koolduct__img(src=`/uploads/${photo.photo || 'weight.jpg'}`)
					.overlay
						a(href=`/supply/${photo.slug}`)
							span #{photo.name}
						if user
							.photo__actions
								.photo__action.store__action--edit
									a(href=`/supply/${photo._id}/edit`)
										!= h.icon('pencil')
