doctype html
html
	head
		title= `${title} | ${h.siteName}`
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-112757267-1"></script>
		<script>
  			window.dataLayer = window.dataLayer || [];
  			function gtag(){dataLayer.push(arguments);}
  			gtag('js', new Date());

  			gtag('config', 'UA-112757267-1');
		</script>

		link(rel="icon" type="image/png" href="images/icons/favicon.ico" sizes="32x32")
		link(rel="stylesheet" href="/dist/owl.theme.default.css")
		link(rel="stylesheet" href="/dist/owl.carousel.min.css")
		link(rel="stylesheet" href="/dist/magnific-popup/magnific-popup.css")
		link(rel="stylesheet" href="/dist/jquery.bxslider.css")
		script(src="/dist/jquery.min.js")
		link(href="/dist/bootstrap.min.css" rel="stylesheet")
		link(href="/dist/carousel.css" rel="stylesheet")
		link(rel='stylesheet', href='/dist/style.css')
		meta(name='viewport' content='width=device-width, initial-scale=1')
	body
		block header
			header.top
				.header__top
					.header__top--logo
						a(href="/")
							img.logo(src="/images/MWM.jpg", alt="MW Metalworks logo")
					.header__top--info
						h2.name MW Metalworks Ltd
						.contacts
							.contacts__email
								.icon
									!=h.icon('mail')
								a(href="mailto:mwmetalworks@btconnect.com") mwmetalworks@btconnect.com
							.contacts__phone
								.icon
									!=h.icon('phone')
								a(href="tel:01256331334") 01256 331334
				nav.nav
					.nav__section.nav__section--pages
						each item in h.menu
							li.nav__item
								a.nav__link(href=item.slug, class=(currentPath.startsWith(item.slug) ? 'nav__link--active' : ''))
									span #{item.title}
					.nav__section.nav__section--user
						if user
							li.nav__item: a.nav__link(href="/add", class=(currentPath.startsWith('/add') ? 'nav__link--active' : ''))
								.icon
									!=h.icon('plus')
							li.nav__item: a.nav__link(href="/register", class=(currentPath.startsWith('/register') ? 'nav__link--active' : ''))
								.icon
									!=h.icon('user-plus')
							li.nav__item: a.nav__link(href="/account", class=(currentPath.startsWith('/account') ? 'nav__link--active' : ''))
								.icon
									!=h.icon('user')
							li.nav__item: a.nav__link(href="/logout", class=(currentPath.startsWith('/logout') ? 'nav__link--active' : ''))
								.icon
									!=h.icon('log-out')


		block messages
			if locals.flashes
				.inner
					.flash-messages
						- const categories = Object.keys(locals.flashes)
						each category in categories
							each message in flashes[category]
								.flash(class=`flash--${category}`)
									p.flash__text!= message
									button.flash__remove(onClick="this.parentElement.remove()") &times;	

		main(role="main")
			block content

		block footer
			footer.container
				span 
			footer.container
				p.float-right
					a(href="#") Back to top
				p © Copyright 2017. MW Metalworks Ltd. All Rights Reserved.

		block scripts
			script(src="/dist/popper.min.js")
			script(src="/dist/bootstrap.min.js")
			script(src="/dist/owl.carousel.min.js")
			script(src="/dist/jquery.bxslider.min.js")
			script(src="/dist/masonry.pkgd.min.js")
			script(src="/dist/imagesloaded.pkgd.min.js")
			script(src="/dist/magnific-popup/jquery.magnific-popup.min.js")
			script(src=`https://maps.googleapis.com/maps/api/js?key=${process.env.MAP_KEY}`)
			script(src="/dist/App.bundle.js")
